%p= @restaurant.name
%p= @restaurant.description
%p
  - if @restaurant.reviews.any?
    - @restaurant.reviews.each do |review|
      ="Thoughts: #{review.thoughts}"
      %br
      ="Rating: #{review.rating}"
  - else
    No reviews yet.
